body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
  background: #000;
}
nav {
  background: #f1f385;
  text-align: center;
  padding: 20px;
  width: 56%;
  margin: 20px auto;
}
nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0;
}

nav ul li a {
  margin-right: 20px;
  color: rgb(156, 115, 61);
  text-decoration: none;
  font-weight: bold;
}
