/* Base elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 1.6;
  color: antiquewhite;
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  margin: 0;
  padding-top: 0;
}
nav {
  background: #17d3a7;
  text-align: center;
  padding: 20px;
  width: 56%;
  margin: 0 auto 20px;
}
main {
  width: 56%;
  margin: 0 auto;
  display: flex;
}
.wrapper {
  flex: 1 0 auto;
}

/* nav */

nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0;
}

nav ul li a {
  margin-right: 20px;
  color: #2a2a2a;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

/* aside */

.aside {
  flex: 0 0 25%;
  width: 200px;
}

.aside ul {
  list-style: none;
  padding: 0;
}
.aside_title {
  width: 200px;
  background-color: #17d3a7;
  font-size: 18px;
  text-align: center;
  color: #2a2a2a;
  margin-top: -20px;
}
.skill li {
  position: relative;
  padding-left: 35px;
  font-style: italic;
}
.skill li::before {
  content: "-";
  position: absolute;
  left: 15px;
}
.contacts {
  padding-top: 5px;
}
.Email {
  text-decoration: none;
  color: antiquewhite;
  font-style: italic;
}
/* main */
.main_content {
  flex: 1 1 75%;
  max-width: 75%;
  min-width: 0;
  box-sizing: border-box;
  padding: 0 5px;
}
.CV_Title {
  text-align: center;
  padding-left: 30px;
}

.main_title {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #2a2a2a;
  background: #17d3a7;
  text-align: center;
}
.aboutme_text {
  text-indent: 2em;
}
pre code {
  display: block;
  padding: 10px;
  background: #403c3c50;
  font-family: monospace;
  white-space: pre-wrap;
}
.keyword {
  color: #569cd6;
  font-weight: bold;
}
.function {
  сolor: #4ec9b0;
}
.number {
  color: #b5cea8;
}
.string {
  color: #ce9178;
}
.method {
  color: #dcdcaa;
}
.operator {
  color: #d4d4d4;
}
/* footer */
.footer_content {
  width: 56%;
  margin: 0 auto;
  padding: 8px;
  background: #17d3a7;
  text-align: center;
}
.footer_content ul li {
  display: inline-block;
  margin-right: 20px;
  color: #2a2a2a;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.footer_content ul li a {
  color: #2a2a2a;
  text-decoration: none;
  font-weight: bold;
}
